<div class="days-container">
   <div id="map-container" style='width: 800px;'>
      <div id="map" style='width: 500px; height: 400px;'></div>
    </div>



  <script type="text/javascript">

    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @pins.to_json %>, {clickable: true});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();

    });
    

  </script>
</div>
