<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-4">
    <div class="trip-container">
      <h2 class="center-heading">Edit Trip</h2>
      <%= render 'form' %>
      <%# link_to 'Show', @trip %>
      <div class="center">
        <a href=/api/trips>&#8592; Back</a>
      </div>
    </div>
  </div>
</div>
