<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <div class="trip-box">
      <h2 class="center-heading">Edit Trip</h2>
      <%= render 'form' %>
      <%# link_to 'Show', @trip %>
      <div class="center">
        <a href=/api/trips>&#8592; Back</a>
      </div>
    </div>
  </div>
</div>
