<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-4">
    <div class="post-container">
      <h2 class="center-heading">Edit Post</h2>
      <%= render 'form' %>
      <%#= link_to 'Show', @post %>
      <%= link_to 'Back', day_posts_path(@post.trip_id, @post.date) %>
    </div>
  </div>
</div>
