// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

//----------------------------------------------------------------------------
//                          TRIP CONTAINER
//----------------------------------------------------------------------------
.trip-container {
  padding: 20px;
  background: #fff;
  display: block;
  border-radius: 2px; 
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 20px;
  @media only screen and (min-width : 700px) {
    min-width: 510px;
  }

  @media (max-width : 700px) {
    min-width: 410px;
  }
}

.trip-container img {
  display:block;
  padding: 0;
  margin:auto;
  @media (max-width : 700px) {
    width: 370px;
  }
}

.trip-container h3 {
  text-align: center;
}

.center {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 1.1em;
  text-align: center;
}

.day-cover {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
}


.day-cover-title-container {
  position: absolute;
}

.day-cover-title {
  position: relative;
  color: #fff;
  font-size: 2em;
  left: 230px;
  top: 175px;
  z-index: 2;
  text-shadow: 
    1px 1px 1px #000, 0px 1px 1px #eee, 
}

.day-cover-title:hover {
  text-decoration: none;
  color: #fff;
}

.time {
  text-align: center;
  font-style:italic;
}

.trip-container .trip-title {
  text-decoration: none;
  color: #000;
}

.trip-details {
  text-align: center;
}

.trip-title:hover {
  text-decoration: none; 
}

.search-btn {
  background: rgb(179, 143, 193);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.search-btn:hover {
  text-decoration: none;
  background: rgb(179, 123, 193);
  color: #FFFFFF;
}

.trip-container .caption {
  margin-top: 20px;
  text-align: center;
}

.icons {
  display: block;
  position: relative;
  bottom: 150px;
  left: 0px;
}

/*@media(min-width:750px){*/
  /*.icons {*/
    /*left: 440px;*/
  /*}*/
/*}*/

/*@media(min-width:1500px){*/
  /*.icons {*/
    /*left: 450px;*/
  /*}*/
/*}*/

.icon-link:hover {
  text-decoration:none
}

.icon-link:focus {
  color: #666
}

.icon-trash {
  margin: 6px;
}

