// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//----------------------------------------------------------------------------
//                          BACKGROUND CONTAINER
//----------------------------------------------------------------------------
.bg {
  background-image: 
    linear-gradient(
      rgba(179, 143, 193, 0.9), 
      rgba(179, 143, 193, 0.35)
    ), 
    image-url('bkg.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 72px;
  width: 100vw;
  height: calc(100vh - 72px);
  overflow: hidden;
  z-index: -1;
}

//----------------------------------------------------------------------------
//                                 SIGN BUTTONS
//----------------------------------------------------------------------------
.bg .sign-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg .sign-container .sign {
  border: 2px solid;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 27px;
  padding: 10px 20px 10px 20px;
  letter-spacing: 2px;
  -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.bg .sign-container .sign-up {
  background: rgb(179, 143, 193);
  border-color: rgb(179, 143, 193);
  color: #FFFFFF;
  margin-right: 10px;
}

.bg .sign-container .sign-up:hover {
  text-decoration: none;
  background: rgb(179, 123, 193);
  border: 2px solid rgb(179, 123, 193);
}

.bg .sign-container .sign-in {
  background: rgba(255,255,255, 0);
  border: 2px solid #ECF0F1;
  color: #ECF0F1;
}

.bg .sign-container .sign-in:hover {
  text-decoration: none;
  background: rgb(179, 143, 193);
  border-color: rgb(179, 143, 193);
  color: #FFF;
}

//----------------------------------------------------------------------------
//                          CARD CONTAINER
//----------------------------------------------------------------------------
.card {
  padding: 20px;
  background: #fff;
  display: block;
  border-radius: 2px; 
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card label {
  margin-top: 10px;
  font-weight: 300;
  font-size: 1.1em;
}

.card .field {
  margin-top: 3px;
  font-weight: 300;
  font-size: 1.1em;
}

.card .center {
  padding-top: 20px;
  font-size: 1.1em;
  text-align: center;
}

.card .btn-center {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  margin: 0px auto;
}

